/downloaded/history
/downloaded/reports
/downloaded/specific_tags - Copy.txt
/downloaded/video_descriptions.csv
/downloaded/video_info.csv
/downloaded/combinations
/downloaded/downloads
/.idea
/TikTokApi/__pycache__
