{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- About Page -->
<div class="gallery__page">
	<div class="gallery__warp">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/1.jpg" data-fresco-group="gallery">
					<img src="img/gallery/1.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/2.jpg" data-fresco-group="gallery">
					<img src="img/gallery/2.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/3.jpg" data-fresco-group="gallery">
					<img src="img/gallery/3.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/4.jpg" data-fresco-group="gallery">
					<img src="img/gallery/4.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/5.jpg" data-fresco-group="gallery">
					<img src="img/gallery/5.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/6.jpg" data-fresco-group="gallery">
					<img src="img/gallery/6.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/7.jpg" data-fresco-group="gallery">
					<img src="img/gallery/7.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/8.jpg" data-fresco-group="gallery">
					<img src="img/gallery/8.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/9.jpg" data-fresco-group="gallery">
					<img src="img/gallery/9.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/10.jpg" data-fresco-group="gallery">
					<img src="img/gallery/10.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/11.jpg" data-fresco-group="gallery">
					<img src="img/gallery/11.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a class="gallery__item fresco" href="img/gallery/12.jpg" data-fresco-group="gallery">
					<img src="img/gallery/12.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- About Page end -->
{% endblock content %}
